rocketgraph.io {
  reverse_proxy * localhost:9001
  reverse_proxy /api/* localhost:5000
}

hasura-endpoint.rocketgraph.io {
  reverse_proxy * localhost:8080
}

blog.rocketgraph.io {
  reverse_proxy * localhost:3001
}

docs.rocketgraph.io {
  reverse_proxy * localhost:3000
}